{% extends 'base.html' %}

{% block content %}
    
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            <label>Hola, {{ user.first_name }} </label>
            {% csrf_token %}
            <button type="submit">Salir</button>
        </form>
        
    {% else %}
        {% comment %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Registro</a>
        {% endcomment %}
    {% endif %}
    
{% endblock %}

